.top-bar, .top-bar ul {
  background-color: $nav-background;

}

.top-bar {
  .menu-text {
    color: $nav-text-color;
    // color: $clock-border-color;
  }

  .menu > .menu-text > a {
    display: inline;
    padding: 0;
    color: $clock-bg-color;
  }

  .menu a {
    color: $clock-bg-color;
  }

  .active-link {
    font-weight: bold;
  }
}
